@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes skeleton-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.skeleton-reluctant {
  opacity: 0;
  animation:
    skeleton-in 0.3s 0.5s forwards,
    pulse 2s 0.8s infinite;
}
